{% layout 'layout.liquid' %}
{% block content %}
<div>
    <h2>Character Index</h2>
    
    {% for character in characters %}
    <div class="card" style="width: 18rem">
        <h5 class="card-header">{{character.name}}</h5>
        <div class="card-body">
            <p class="card-text">
                {{character.level}}
            </p>
            <a href="/characters/{{character._id}}" class="btn">View {{character.name}}</a>
        </div>
        {% endfor %}
        <a href="/characters/new" class="btn btn-success">Create A New Character</a>
    </div>
</div>
{% endblock %}