{% layout 'layout.liquid' %}
{% block content %}
<div>
    <h2>Character Details</h2>
    <div class="container-md">
        <article>
            <h2>{{race.name}}</h2>
        </article>
    </div>
{% endfor %}
</div>
{% endblock %}